## Submitted in group by Naman Rastogi(nra99) and Shivanashu Tandon(sta219)

# Julia Part

Reproduce (at least part) of the scraping workflow you have done in R using Julia.

**you will need to do this in a new, separated notebook or pluto notebook**

_hint_ this is the moment to go back to the Julia notebooks from the lab if you have not done them.

Since we are scraping tables from the F1 Table, we are using TableScraper Library, since our website has a well formed table

In [2]:
# Pkg.add("TableScraper")

In [2]:
# Importing required libraries
using Pkg
using TableScraper
using DataFrames

TableScraper already uses HTTP, Gumbo etc as dependencies, look more here - https://github.com/xiaodaigh/TableScraper.jl

In [3]:
# scrape_tables function take url and returns a list of all the tables on the page
table = scrape_tables("https://www.formula1.com/en/results.html/2022/team.html")

# Returns n-element Vector of TableScraper Object, where n is the number of tables found on the page
table[1]

TableScraper.Table(Any[["", "1", "Red Bull Racing RBPT", "759", ""], ["", "2", "Ferrari", "554", ""], ["", "3", "Mercedes", "515", ""], ["", "4", "Alpine Renault", "173", ""], ["", "5", "McLaren Mercedes", "159", ""], ["", "6", "Alfa Romeo Ferrari", "55", ""], ["", "7", "Aston Martin Aramco Mercedes", "55", ""], ["", "8", "Haas Ferrari", "37", ""], ["", "9", "AlphaTauri RBPT", "35", ""], ["", "10", "Williams Mercedes", "8", ""]], Any["", "Pos", "Team", "PTS", ""])

In [4]:
# lets look at the type of the object returned
typeof(table[1])

TableScraper.Table

Let's find out number of rows and column to built a dataframe automatically

In [5]:
# Our tableScraper object contains every row as a list
rows_num = length(table[1])

# Lets see the rows
rows_num

10

In [6]:
# Initiliasing cols_name variable to 0
cols_num = 0
# col_num are stored in the list inside the TableScraper object
for item in table[1]
    cols_num = length(item)
end

# Let see the columns
cols_num

5

## Wait
Notice how it returned 5 columns but we can clearly see its just 3 columns on the website, Why? Because the f1 website has 2 empty columns on left and right of the table, as we have seen that in R aswell.

Let's Make a DataFrame with number of columns extracted through TableScraper Object

In [7]:
data_frame = DataFrame()

0×0 DataFrame

Let's Make Columns for DataFrame

In [8]:
# Loop through column indices starting from 2 up to col_nums-1
for i in 2:cols_num-1
    # Create a Symbol for the column name using the current index
    col_name = Symbol("Column$i")
    
    # Add an empty array as a new column to the DataFrame data_frame
    data_frame[!, col_name] = []
end

In [9]:
# Lets see our DataFrame
data_frame

0×3 DataFrame
 Row │ Column2  Column3  Column4
     │ Any      Any      Any
─────┴───────────────────────────

In [10]:
# Create an empty list to store items
items = []

# Loop through the elements in the first column of the table
for item in table[1]
    # Loop through column indices starting from 2 up to cols_num-1
    for i in 2:cols_num-1
        # Append the item at position i in the current row to the 'items' list
        push!(items, item[i])
    end
    
    # Append the 'items' list as a row to the 'data_frame'
    push!(data_frame, items)
    
    # Clear the 'items' list for the next iteration
    items = []
end

# Lets look at the final table

In [11]:
# Renaming the column names to make the table more readable
rename!(data_frame, :Column2 => :Standing, :Column3 => :Team, :Column4 => :Points)

10×3 DataFrame
 Row │ Standing  Team                          Points
     │ Any       Any                           Any
─────┼────────────────────────────────────────────────
   1 │ 1         Red Bull Racing RBPT          759
   2 │ 2         Ferrari                       554
   3 │ 3         Mercedes                      515
   4 │ 4         Alpine Renault                173
   5 │ 5         McLaren Mercedes              159
   6 │ 6         Alfa Romeo Ferrari            55
   7 │ 7         Aston Martin Aramco Mercedes  55
   8 │ 8         Haas Ferrari                  37
   9 │ 9         AlphaTauri RBPT               35
  10 │ 10        Williams Mercedes             8

In [12]:
data_frame

10×3 DataFrame
 Row │ Standing  Team                          Points
     │ Any       Any                           Any
─────┼────────────────────────────────────────────────
   1 │ 1         Red Bull Racing RBPT          759
   2 │ 2         Ferrari                       554
   3 │ 3         Mercedes                      515
   4 │ 4         Alpine Renault                173
   5 │ 5         McLaren Mercedes              159
   6 │ 6         Alfa Romeo Ferrari            55
   7 │ 7         Aston Martin Aramco Mercedes  55
   8 │ 8         Haas Ferrari                  37
   9 │ 9         AlphaTauri RBPT               35
  10 │ 10        Williams Mercedes             8